{% extends "zero_waste_app/base_generic.html" %}

<!-- {% block style %}
<style>
    td, th {
        border: 1px solid #e2e2e2;
        text-align: left;
        padding: 10px;
    }

    tr:nth-child {
        background-color: #c4c1c1fd;
    }
</style>
{% endblock %} -->

{% block content %}
    <h2>Lista zakupów</h2>
    <table>
        {% for item in shopping_list %}
        <tr>
            <th>{{ item.product.name }}</th>
            <th>{{ item.amount }}</th>
            <th><form action="{% url 'add_shopping_product' item.id %}" method="get">
                {% csrf_token %}
                <button name='add-product-button' type='submit' value='1'>+</button>
            </form>
            </th>
            <th><form action="{% url 'sub_shopping_product' item.id %}" method="get">
                {% csrf_token %}
                <button name='sub-product-button' type='submit' value='1'>-</button>
            </form>
            </th>
            <th><form action="{% url 'delete_shopping_product' item.id %}" method="get">
                {% csrf_token %}
                <button name='delete-product-button' type='submit' value='0'>usuń</button>
            </form>
            </th>
            <!-- <th><form action="{% url 'change_user_product' item.id %}" method="get">
                {% csrf_token %}
                <button name='change-product-button' type='submit' value='change'>edytuj</button>
            </form>
            </th>
        </tr> -->
        {% endfor %}
    </table>
    <br>
    <button><a href="{% url 'add_new_shopping_product' %}">Dodaj nowy produkt</a></button>
    <br>
{% endblock %}