{% extends "zero_waste_app/base_generic.html" %}

{% block content %}
    <h2>Lista produktów</h2>
    <p><small>Żółte tło daty ważności oznacza, że produkt niedługo się przeterminuje, czerwone tło daty ważności oznacza, że produkt jest przeterminowany</small></p>
    <table>
        <tr>
            <th>Produkt</th>
            <th>Ilość</th>
            <th></th>
            <th>Data ważności</th>
        </tr>
        {% for item in userproduct_list %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td id="product_number{{ item.id }}">{{ item.number }}</td>
            <td>
                <button id="add_btn" data-product="{{ item.id }}" data-action="add" class="btn btn-outline-secondary update-user-product">+</button>
                <button id="sub_btn" data-product="{{ item.id }}" data-action="sub" class="btn btn-outline-secondary update-user-product">–</button>
                
            </td>
            {% if item.has_short_expiration_date %}
            <td><p id="warning">{{ item.expiration_date }}</p></td>
            {% else %}
            {% if item.after_expiration_date %}
            <td><p id="danger">{{ item.expiration_date }}</p></td>
            {% else %}
            <td >{{ item.expiration_date }}</td>
            {% endif %}
            {% endif %}
            <td>
                <form action="{% url 'delete_user_product' item.id %}" method="get">
                {% csrf_token %}
                    <button class="btn btn-outline-secondary" name='delete-product-button' type='submit' value='0'>usuń</button>
                </form>
            </td>
            <td>
                <form action="{% url 'change_user_product' item.id %}" method="get">
                {% csrf_token %}
                    <button class="btn btn-outline-secondary" name='change-product-button' type='submit' value='change'>edytuj</button>
                </form>
            </td>
            <td>
                <button class="btn btn-outline-secondary add-to-shopping-list" data-product="{{ item.product.id }}">dodaj do listy zakupów</button>
            </td>
            <td style="color: green" id="to_shopping_list{{ item.product.id }}"></td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <form action="{% url 'add_new_user_product' %}" method="get">
        {% csrf_token %}
        <button class="btn btn-outline-secondary">Dodaj produkt</button>
    </form>
    

    <br><br><br>
    <p>Niektóre z posiadanych produktów są wykorzystywane w poniższych przepisach. Może coś Ci wpadnie w oko.</p>
    <ul>
        {% for mached_recipe in mached_recipes %}
        <li><a href="{% url 'recipe' mached_recipe.id %}">{{ mached_recipe.name }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}