{% extends "zero_waste_app/base_generic.html" %}

{% block content %}
<h2>{{ name }}</h2>
<h4>Składniki: </h4>
<table>
    <tr>
        <th>Produkt</th>
        <th>Ilość</th>
    </tr>
    {% for product in ingredients_list %}
    <tr>
        <td>{{ product.ingredient.name }}</td>
        <td>{{ product.amount }} {{ product.unit }}</td>
        <td>
            <button class="btn btn-outline-secondary add-to-shopping-list" data-product="{{ product.ingredient.id }}">dodaj do listy zakupów</button>
        </td>
    </tr>
    {% endfor %}
</table>
<br>
<h4>Przepis: </h4>
<p>{{ instruction }}</p>
{% endblock %}
