{% extends "zero_waste_app/base_generic.html" %}

{% block content %}
    <h2>Lista zakupów</h2>
    <table>
        <tr>
            <th>Produkt</th>
            <th></th>
            <th>Ilość</th>
        </tr>
        {% for item in shopping_list %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td></td>
            <td id="product_amount{{ item.id }}">{{ item.amount }}</td>
            <td>
                <button data-product="{{ item.id }}" data-action="add" class="btn btn-outline-secondary update-shopping-product">+</button>
                <button data-product="{{ item.id }}" data-action="sub" class="btn btn-outline-secondary update-shopping-product">–</button>
                
            </td>
            <td>
                <form action="{% url 'delete_shopping_product' item.id %}" method="get">
                {% csrf_token %}
                    <button class="btn btn-outline-secondary" name='delete-product-button' type='submit' value='0'>usuń</button>
                </form>
            </td>
        {% endfor %}
    </table>
    <br>
    <form action="{% url 'add_new_shopping_product' %}" method="get">
        {% csrf_token %}
        <button class="btn btn-outline-secondary">Dodaj produkt</button>
    </form>
    
{% endblock %}